.control {
  @apply bg-transparent text-black absolute bottom-5 right-5 flex flex-row
  z-30 justify-between;
  height: 48px;
}

.leftControl,
.rightControl {
  @apply px-2 cursor-pointer bg-white rounded-full;
  transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
  background-color: "blue";
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
}

.leftControl {
  margin-right: 5px;
}
